################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/.vs/DocumentGo/v15
/src/DocumentGo/obj
/src/DocumentGo/bin/Debug
/src/packages
/src/DocumentGo.sln.DotSettings.user
